[name_servers.internaldns]
service = "technitium"
host = ""
api_key = ""

[name_servers.internaldns.record_defaults]
A.ip = "172.16.7.111"
CNAME.target_domain = "myah-mitchell.com"
ttl = 60


[name_servers.externaldns]
service = "cloudflare"
api_key = "" 
account_id = ""

zone_id = {
    "myah-mitchell.com" = "zone id" 
}

[name_servers.externaldns.record_defaults]
A.ip = "172.16.7.111"
CNAME.target_domain = "myah-mitchell.com"
ttl = 300
